@mixin reset {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.footer {
    @include reset();
    width: 100%;
    padding: 15px 5%;
    border-top: solid 1px #fff5;
    position: absolute;
    bottom: 0;

    & .year {
        margin: 0;
        text-align: center;
        font-weight: bold;
    }
}