@mixin reset {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@mixin animation1 ($name, $from, $to) {
    @keyframes #{$name} {
      0% {left: -100%;}
      50%,100% {left: 100%;}
    }
}

@mixin animation2 ($name, $from, $to) {
    @keyframes #{$name} {
      0% {top: -100%;}
      50%,100% {top: 100%;}
    }
}

@mixin animation3 ($name, $from, $to) {
    @keyframes #{$name} {
      0% {right: -100%;}
      50%,100% {right: 100%;}
    }
}

@mixin animation4 ($name, $from, $to) {
    @keyframes #{$name} {
      0% {bottom: -100%;}
      50%,100% {bottom: 100%;}
    }
}

.main {
    @include reset();
    width: 100%;
    margin: auto;
    padding: 25px 5%;

    & .title {
        @include reset();
        text-align: center;
        margin-top: 25px;
        @media (min-width: 1000px) {
            margin-top: -100px;
        }
    }

    & .buttons-box {
        @include reset();
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        justify-items: center;
        align-content: center;

        @media (min-width: 1000px) {
            flex-direction: row;
        }
    }

    & .button {
        cursor: pointer;
        position: relative;
        display: inline-block;
        padding: 25px 30px;
        margin: 40px 25px;
        color: #03e9f4;
        text-decoration: none;
        text-transform: uppercase;
        transition: 0.5s;
        letter-spacing: 4px;
        overflow: hidden;
    }

    & .button:hover {
        background: #03e9f4;
        color: #050801;
        box-shadow: 0 0 5px #03e9f4,
                    0 0 25px #03e9f4,
                    0 0 50px #03e9f4,
                    0 0 200px #03e9f4;
         -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
    }

    & .button:nth-child(1){
        filter: hue-rotate(270deg);
    }

    & .button:nth-child(2){
        filter: hue-rotate(110deg);
    }

    & .button:nth-child(3){
        filter: hue-rotate(200deg);
    }

    & .button span{
        position: absolute;
        display: block;
    }

    & .button span:nth-child(1){
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: linear-gradient(90deg,transparent,#03e9f4);
        animation: animate1 1s linear infinite;
    }

    @include animation1(animate1,0,100%);

    & .button span:nth-child(2){
        top: -100%;
        right: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(180deg,transparent,#03e9f4);
        animation: animate2 1s linear infinite;
        animation-delay: 0.25s;
    }

    @include animation2(animate2,0%,100%);

    & .button span:nth-child(3){
        bottom: 0;
        right: 0;
        width: 100%;
        height: 2px;
        background: linear-gradient(270deg,transparent,#03e9f4);
        animation: animate3 1s linear infinite;
        animation-delay: 0.50s;
    }

    @include animation3(animate3,0%,100%);

    & .button span:nth-child(4){
        bottom: -100%;
        left: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(360deg,transparent,#03e9f4);
        animation: animate4 1s linear infinite;
        animation-delay: 0.75s;
    }

    @include animation4(animate4,0%,100%);

}

